<% content_for :background do %>register<% end %>
<h1>填写会员注册信息</h1>
<main>
  <%= form_for @registration, url: { action: "create" } do |f| %>
    <%= f.text_field :company, placeholder: pl(:company) %>
    <%= f.text_field :name, placeholder: pl(:name) %>
    <%= f.text_field :duty, placeholder: pl(:duty) %>
    <%= f.telephone_field :telephone, placeholder: pl(:telephone) %>
    <%= f.email_field :email, placeholder: pl(:email) %>
    <%= submit_tag("完 成") %>
  <% end %>
</main>